body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #F3F8F6;
}

h1 {
    color: #3A423F;
    font-family: 'Croissant One', cursive;
    background-color: #C4DED5;
    padding: 0.5em;
    border: 2px solid #3A423F;
    border-radius: 10px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
}

#timerDisplay {
    font-size: 36px;
    margin-top: 20px;
}

.block {
    width: 20px;
    height: 20px;
    background-color: #C4DED5;
    border : 1px solid #3A423F;
    display: inline-block;
    margin-top: -5px;
    line-height: 0;
}

.trap {
    background-color: #9e1503;
}