body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
}

#timerDisplay {
    font-size: 36px;
    margin-top: 20px;
}

.block {
    width: 20px;
    height: 20px;
    background-color: #C4DED5;
    border : 1px solid #3A423F;
    display: inline-block;
    margin-top: -5px;
    line-height: 0;
}